div{
    width: 45rem;
    height: 40rem;
    background-color: #000000;
    border-radius: 2rem;
    margin: auto;
    border: 1px solid #000000;
}

h1{
    text-align: center;
    margin: 2rem 0;
    color: lightskyblue;
    font-size: 3rem;
}

input{
    width: 15rem;
    height: 3rem;
    color: #000000;
    background-color: lightskyblue;
    text-align: center;
    display: block;
    margin: 10rem auto;
}

button{
    width: 10rem;
    height: 2rem;
    color: #000000;
    background-color: lightgoldenrodyellow;
    display: block;
    margin: -9rem auto;
}